/* Основной цвет текста: #212121
Вторичный цвет текста: #757575
Акценторный цвет текста: #2196F3
Цвета для логотипа: #2196F3 и #000000
Цвет Заголовка и в футере: #ffffff
Цвет текста имейла и тел в футере: rgba(255, 255, 255, 0.6)

Цвет фона: #ffffff
Цвет фона для Заголовка и Футера: #2F303A
Цвет фона для Наша Команда: #F5F4FA

Размер шрифта: 
Основной шрифт: Roboto normal and bold
Шрифт Логотипа: Raleway bold
 */

/* border-box уже прописан в modern-normalaize значит можно и не пиасть что весть html bb */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --title-color: #ffffff;
  --title-background-color: #2f303a;
  --minititles-color: #212121;
  --inside-color: #757575;
  --active-color: #2196f3;
  --logo-studio-color: #000000;
  --team-container-background: #f5f4fa;
  --tel-in-footer-color: rgba(255, 255, 255, 0.6);
  --header-bottom-line: #ececec;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--minititles-color);
  background-color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.container {
  /* тут кроме этого ничего больше не задавать, явную геометрию в других класах описывать */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid red;
}

.list {
  /* стили списков во всем документе*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  /* стили к ссылкам */
  text-decoration: none;
  color: var(--inside-color);
  cursor: pointer;
}
.item .link:hover,
.item .link:focus,
.item .link:active {
  /* возможность выделять другим цветом ссылки при наведении курсора на них */
  color: var(--active-color);
}

/* ======================================================== */
/* ======================HEADER============================ */
/* ======================================================== */

.flexbox {
  /* для того чтоб списки смогли стать в ряд */
  display: flex;
}

.logo {
  /* стили геометрии для логотипа в целом */
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
  display: inline-block;
}
.web-logotext {
  /* стили для части Web в логотипе */
  color: var(--active-color);
}
.studio-logotext {
  /* стили для части Studio в логотипе */
  color: var(--logo-studio-color);
}

.page-header {
  border-bottom: 1px solid var(--header-bottom-line);
}
.page-header .flexbox {
  /* выравнивание по центру содержимого хедера */
  align-items: center;
}

.header-nav {
  /* жирность текста в навигации хедера */
  font-weight: 500;
  margin-right: auto;
}
/* .header-nav .item {
  /* сделать область наведения больше */
/*padding-top: 15px;
  padding-bottom: 15px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  /* цвет ссылок в левой навигации хедера */
  color: var(--minititles-color);
}
.site-nav .link.current {
  /* выделение ссылки в навигации хедера текуущей страници другим цветом */
  color: var(--active-color);
}

.mail-tel-nav {
  /* стили к ссылкам правой части навигации хедера */
  letter-spacing: 0.02em;
}
.mail-tel-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* ======================================================== */
/* ======================HERO============================== */
/* ======================================================== */

/* .container.hero {
  width: maxt;
} */

.hero {
  /*  стили для секции Hero*/
  background: var(--title-background-color);
  text-align: center;
  max-width: 100%;
}

.hero-title {
  /* стили для заголовка сайта в Hero */
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* width: max-width; */

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  /* max-width: 100%; */
  padding-left: 237px;
  padding-right: 237px;

  outline: 2px solid orange;
}

.hero .button {
  /* стили для кнопки Заказать Услугу */
  color: var(--title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--active-color);
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-bottom: 200px;
  /* margin-left: 500px; */
  /* margin-right: 500px; */
  /* width: auto; */
  outline: 2px solid orange;

  padding: 10px 32px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
}

/* ======================================================== */
/* ======================FEATURES========================== */
/* ======================================================== */

.featuress {
  background: aquamarine;
}
.container.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list.features .title {
  /* стили для Чем Занимаемся */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.list.features .text {
  color: var(--inside-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

.list.features {
  outline: 3px dotted blue;
  flex-wrap: wrap;
}
.list.features .item {
  outline: 2px dashed green;
  width: calc((100% - 3 * 30px) / 4);
}
.list.features .item:not(:last-child) {
  margin-right: 30px;
}

/* ------------------------- */

.whatdo .text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  text-align: center;
  margin-top: 0;
}

/* ======================================================== */
/* ======================TEAM============================== */
/* ======================================================== */

.team-container {
  /* стили для Наша Команда */
  background: var(--team-container-background);
}
.team-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-container h3 {
  /* font-size: 500; ????????????????*/
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-container p {
  color: var(--inside-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* ======================================================== */
/* ======================FOOTER============================ */
/* ======================================================== */

.footer {
  /* стили для подвала сайта */
  background-color: var(--title-background-color);
  line-height: 1.71;
}
address {
  /* стили для почтового адреса в футере */
  font-style: normal;
  color: var(--title-color);
}
.tel-in-footer {
  /* стили для номера телефона в футере */
  color: var(--tel-in-footer-color);
}

/* ======================================================== */
/* =================PORTFOLIO-PAGE========================= */
/* ======================================================== */

.portfolio-button {
  /* стили для ряда кнопок в Портфолио */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--team-container-background);
  border: none;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background-color: var(--active-color);
}

.projects h3 {
  /* стили для Проектов */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--inside-color);
}

footer .studio-logotext {
  /* стили для части Studio в логотипе в Футере сайта */
  color: var(--title-color);
}
